<header>
  <a [routerLink]="['/inicio']" class="logo">RickAndMorty</a>
  <div class="toggle" (click)="toogleMenu()"></div>
  <ul class="menu">
    <li><a (click)="toogleMenu()" [routerLink]="['/inicio']">Inicio</a></li>
    <li>
      <a (click)="toogleMenu()" [routerLink]="['/listaPersonajes']">
        Personajes
      </a>
    </li>
    <li>
      <a (click)="toogleMenu()" [routerLink]="['/episodios/all']">Episodios</a>
    </li>
    <li><a (click)="toogleMenu()" [routerLink]="['/nosotros']">Nosotros</a></li>
  </ul>
</header>
