<section>
  <div class="title">
    <h2>Personajes de la serie:</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, in
      provident.
    </p>
  </div>
  <div class="project adjust">
    <div class="content">
      <div class="workBx" *ngFor="let personaje of personajes$ | async">
        <div class="imgBx">
          <img [src]="personaje.image" [alt]="personaje.image" />
          <ul class="action">
            <li><fa-icon [icon]="faHourglassStart"></fa-icon></li>
          </ul>
        </div>
        <div class="textBx">
          <div class="text">
            <h2># {{ personaje.id }}</h2>
            <h3>{{ personaje.name }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
