.title h2 {
  margin: 40px;
}

.nosotros .content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  color: #fff;
}

.nosotros .content .textBox {
  width: 40%;
  min-width: 40%;
}

.nosotros .content .textBox h3 {
  margin: 25px;
}
.nosotros .content .imgBx {
  margin-left: 40px;
}

.nosotros .content .imgBx img {
  min-width: 60%;
  max-width: 100%;
  height: 450px;
}
