<section class="nosotros adjust">
  <div class="title">
    <h2>La ciencia tiene sentido, la familia no.</h2>
  </div>
  <div class="content">
    <div class="textBox">
      <p>
        Somos una serie de televisión estadounidense de animación para adultos
        creada por Justin Roiland y Dan Harmon en 2013 para Adult Swim, también
        se emitió en Cartoon Network. Esta serie sigue las desventuras de un
        científico, Rick Sanchez, y su fácilmente influenciable nieto, Morty,
        quienes pasan el tiempo entre la vida doméstica y los viajes espaciales,
        temporales e intergalácticos. Roiland es el encargado de darle voz a
        Rick y a Morty, la serie también incluye las voces de Chris Parnell,
        Spencer Grammer y Sarah Chalke.
        <br /><br />
        Esta serie se originó por un cortometraje rudimentario animado por
        Roiland para el festival de cine Channel 101 llamado Doc and Mharti, una
        parodia de los principales protagonistas de Back to the Future. Cuando
        la cadena NBC despidió a Harmon en 2013 por discusiones entre él y los
        ejecutivos de la serie que había creado, Community, él y Roiland
        desarrollaron una serie basada en los personajes ya creados por Roiland.
      </p>
    </div>
    <div class="imgBx">
      <img
        src="../../../../assets/images/rick-morty-temporada1.webp"
        alt="rick-morty"
        rel="preload"
        as="image"
      />
    </div>
  </div>
</section>
